.Content
{
	font-family: source-sans-pro-n3, sans-serif;
}

.Title-1
{
	font-family: source-sans-pro-n6, sans-serif;
}

.menu-module1
{
	font-family: open-sans-n4, sans-serif;
}

.contact-head
{
	font-family: open-sans-n6, sans-serif;
}

.Paragraph-Style,.menu-module2,.showcase-work-module-secondmenu,.contact-neiwen
{
	font-family: open-sans-n3, sans-serif;
}

.Paragraph-Style-1,.Title-2,.list-title,.MENU,.Paragraph-Style-2,.Paragraph-Style-3,.ts,.emphasis
{
	font-family: source-sans-pro-n4, sans-serif;
}

.quotes
{
	font-family: rochester-n4, cursive;
}

#u4132-4
{
	font-family: leckerli-one-n4, cursive;
}

#u4133-4,#u3501-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3286-3
{
	font-family: source-sans-pro-n3, sans-serif;
}

